<%= form_for(@nearby) do |f| %>
  <% if @nearby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nearby.errors.count, "error") %> prohibited this nearby from being saved:</h2>

      <ul>
      <% @nearby.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
