// Place all the styles related to the Pickups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pickup-map {
	height: 500px;
	width: 100%;
}